{% extends "components/base.html" %}

{% load helper %}

{% block conteudo %}
<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Add Cliente</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>

	<form method="post" role="form">
		{% csrf_token %}
		{% for campo in form %}
            <div class="form-group">
                <label>{{ campo.label }}</label>
                {{ campo|addclass:"form-control" }}
            </div>
        {% endfor %}
		<input class="btn btn-success" type="submit">
	</form>
{% endblock %}